HexMap/[Ll]ibrary/
HexMap/[Tt]emp/
HexMap/[Oo]bj/
HexMap/[Bb]uild/
HexMap/[Bb]uilds/
HexMap/[Ll]ogs/
HexMap/[Uu]ser[Ss]ettings/
HexMap/[Mm]emoryCaptures/
HexMap/[Rr]ecordings/
HexMap/[Aa]ssets/Plugins/Editor/JetBrains*
HexMap/.vs/
HexMap/.gradle/
HexMap/ExportedObj/
HexMap/.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

HexMap/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
HexMap/[Aa]ssets/[Ss]treamingAssets/aa.meta
HexMap/[Aa]ssets/[Ss]treamingAssets/aa/*
